@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: none;
  box-sizing: border-box;
  margin: 0;
}

@layer utilities{
  .maxContainer{
    @apply max-w-[1440px] mx-auto
  }
  .sections{
    @apply px-5 md:px-[100px] py-10 md:py-[60px] md:mt-[60px]
  }

  .cards{
    @apply relative max-lg:text-center mt-20 max-lg:w-[300px]  mx-auto
  }

  .checkbox{
    @apply w-5 h-5 border-2 border-black rounded-sm checked:bg-green-500 focus:outline-none cursor-pointer
  }

  .greenButton{
    @apply py-4 px-5 text-white md:text-[16px] uppercase md:font-medium rounded-[8px] bg-greens-100 transition-all duration-300 
  }

  .whiteButton{
    @apply  py-4 px-5 buttonText text-black rounded-[8px] bg-white md:text-[16px] uppercase md:font-medium transition-all duration-300  hover:scale-105 
  }

  .blackButton{
    @apply  py-4 px-5 buttonText text-white rounded-[8px] bg-black md:text-[16px] uppercase md:font-medium transition-all duration-300  hover:scale-105 
  }

  .headerText{
    @apply text-[40px] leading-[50px] font-medium lg:text-[80px] lg:leading-[100px] lg:font-bold
  }

  .header3{
    @apply max-sm:text-center font-semibold text-[24px] leading-[30px] md:font-[600] md:text-[40px] md:leading-[49.2px]
  }

  .header33{
    @apply max-sm:text-center font-semibold text-[24px] leading-[30px] lg:font-[600] lg:text-[40px] lg:leading-[49.2px]
  }


  .header4{
    @apply text-[20px] leading-[26px] font-[600] text-greens-500 md:text-[32px] md:leading-10
  }

  .gridCenter{
    @apply grid items-center justify-center text-center
  }

  .p1{
    @apply md:text-[24px] md:font-medium md:leading-6
  }

  .p2{
    @apply text-[16px] leading-6 md:text-[24px] font-normal md:leading-[36px]
  }

  .p3{
    @apply text-[16px] leading-[24px] font-normal text-greens-400 md:text-[20px] md:leading-[30px]
  }

  .buttonText{
    @apply text-[16px] leading-5 font-medium
  }
}
